<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course List</title>
</head>

<body>
    <a href="/logout">Log Out</a>
    <br>
    <h1>Course Menu</h1>
    <a href="/student/<%=getResult.id%>"><button style="margin-bottom: 15px;">Student's View</button></a> <br>
    <a href="/<%=getResult.id%>/courses/add"><button style="margin-bottom: 10px;">Add More Course</button> </a>
    <table border="1" style="width: 500px;">
        <thead>
            <tr>
                <th>No.</th>
                <th>Title Course</th>
                <th>Total Duration</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody style="text-align: center;">
            <% getResult.dataValues.Courses.forEach((e, i)=> {%>
                <tr>
                    <td><%=i+1%></td>
                    <td><%=e.name%></td>
                    <td><%=e.duration%></td>
                    <td>
                        <a href="/<%=e.CategoryId%>/courses/<%=e.id%>"><button>Detail</button></a>
                        <a href="/<%=e.CategoryId%>/courses/<%=e.id%>/edit"><button>Edit</button></a>
                        <a href="/<%=e.CategoryId%>/courses/<%=e.id%>/delete"><button>Delete</button></a>
                    </td>
                </tr>
                <%})%>
        </tbody>
    </table>
</body>

</html>